/******************************************** 
` Page : Diamonds : Listing
*********************************************/

/******************************************** 
` Page : Diamonds : Details
*********************************************/
.page-diamond-detail .page-sidebar th {
        width: 220px;
        font-size: 1.1em;
    }
    .page-diamond-detail .page-sidebar td, .page-diamond-detail .page-sidebar th {
        font-weight: normal;
        color: #666;
        border-top: none;
        border-bottom: 1px solid #ccc;
    }
