{% load thinkspace_pages tsj_builder_tags tsj_commerce_local_tags %}
<div class="toolbar">
    <div class="results">
        Showing {{ paginator.count }} Diamonds
    </div>
</div>
<div class="table-gemstone">
    <table>
        <thead>
            <tr>
                <th class="shape"><a href="?sort=cut">Shape</a></th>
                <th><a href="?sort=carat_weight">Carat</a></th>
                <th><a href="?sort=cut_grade">Cut</a></th>
                <th><a href="?sort=color">Color</a></th>
                <th><a href="?sort=clarity">Clarity</a></th>
            {% if tspages_page.get_options.page_layout != 'left' %}
                <th class="hidden-xs"><a href="?sort=polish">Polish</a></th>
                <th class="hidden-xs"><a href="?sort=symmetry">Symmetry</a></th>
                <th class="hidden-xs"><a href="?sort=fluorescence">Fluorescence</a></th>
            {% comment %}
                <th class="hidden-xs"><a href="?sort=table_percent">Table</a></th>
                <th class="hidden-xs"><a href="?sort=depth_percent">Depth</a></th>
            {% endcomment %}
            {% endif %}
                <th class="hidden-xs"><a href="?sort=certifier">Report</a></th>
            {% if show_prices %}
                <th><a href="?sort=price">Price</a></th>
            {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for gemstone in page.object_list %}
            <tr id="{{ gemstone.pk }}" data-url="{% page gemstone-detail gemstone.pk %}">
                <td class="shape">
                    <span class="icon">
                        {{ gemstone.cut.icon|safe }}
                    </span>
                    <span class="name hidden-xs">
                        {{ gemstone.cut.name }}
                    </span>
                </td>
                <td>{{ gemstone.carat_weight }}</td>
                <td>{{ gemstone.cut_grade.name|default:"N/A" }}</td>
                <td>{{ gemstone.color }}</td>
                <td>{{ gemstone.clarity }}</td>
            {% if tspages_page.get_options.page_layout != 'left' %}
                <td class="hidden-xs">{{ gemstone.polish }}</td>
                <td class="hidden-xs">{{ gemstone.symmetry }}</td>
                <td class="hidden-xs">{{ gemstone.fluorescence }}</td>
            {% comment %}
                <td class="hidden-xs">{{ gemstone.table_percent }}</td>
                <td class="hidden-xs">{{ gemstone.depth_percent }}</td>
            {% endcomment %}
            {% endif %}
                <td class="hidden-xs">{{ gemstone.certifier }}</td>
            {% if show_prices %}
                <td>{{ gemstone.formatted_price }}</td>
            {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="table-gemstone-detail">
    <div class="detail-affix">
        <table>
            <thead>
                <tr>
                    <th>Diamond Information</th>
                </tr>
            </thead>
            <tbody>
                <tr id="default" class="active">
                    <td>
                        <div class="icon">
                            <i class="fa fa-info-circle"></i>
                        </div>
                        <div class="name">
                            Hover over a diamond to find more information and view its details.
                        </div>
                    </td>
                </tr>
            {% for gemstone in page.object_list %}
                <tr id="{{ gemstone.pk }}-detail" class="hidden">
                    <td>
                        <div class="icon">
                            {{ gemstone.cut.icon|safe }}
                        </div>
                        <div class="name">
                            {{ gemstone.carat_weight }} Carat {{ gemstone.cut }} Diamond
                        </div>
                        <div class="actions">
                        {% if has_ring_builder %}
                            {% add_to_builder 'tsj_gemstone.Diamond' gemstone %}
                        {% else %}
                            {% add_to_cart 'tsj_gemstone.Diamond' gemstone %}
                        {% endif %}
                            <a href="{% page gemstone-detail gemstone.pk %}" class="btn-view-diamond">View Details</a>
                        </div>
                        <div class="list">
                            <dl>
                            {% if show_prices %}
                                <dt class="price">Price</dt>
                            {% endif %}
                                <dt>Shape</dt><dd>{{ gemstone.cut }}</dd>
                                <dt>Cut</dt><dd>{{ gemstone.cut_grade }}</dd>
                                <dt>Color</dt><dd>{{ gemstone.color }}</dd>
                                <dt>Symmetry</dt><dd>{{ gemstone.symmetry }}</dd>
                                <dt>Report</dt><dd>{{ gemstone.certifier }}</dd>
                                <dt>Table</dt><dd>{{ gemstone.table_percent }}</dd>
                                <dt>Measurements</dt><dd>{{ gemstone.length }} &times; {{ gemstone.width }} &times; {{ gemstone.depth }}</dd>
                            </dl>
                        </div>
                        <div class="list">
                            <dl>
                            {% if show_prices %}
                                <dd class="price">{{ gemstone.formatted_price }}</dd>
                            {% endif %}
                                <dt>Carat</dt><dd>{{ gemstone.carat_weight }}</dd>
                                <dt>Clarity</dt><dd>{{ gemstone.clarity }}</dd>
                                <dt>Polish</dt><dd>{{ gemstone.polish }}</dd>
                                <dt>Fluorescence</dt><dd>{{ gemstone.fluorescence }}</dd>
                                <dt>Report #</dt><dd>{{ gemstone.cert_num }}</dd>
                                <dt>Depth</dt><dd>{{ gemstone.depth_percent }}</dd>
                                <dt>Girdle</dt><dd>{{ gemstone.girdle }}</dd>
                            </dl>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
