{% load thinkspace_pages tsj_builder_tags tsj_commerce_local_tags %}
<div class="table-gemstone col-md-8">
    <table class="table table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th><a href="?sort=cut">Shape</a></th>
                <th><a href="?sort=cut_grade">Cut</a></th>
                <th><a href="?sort=carat_weight">Carats</a></th>
                <th><a href="?sort=color">Color</a></th>
                <th><a href="?sort=clarity">Clarity</a></th>
                <th class="hidden-xs"><a href="?sort=certifier">Certifier</a></th>
            {% if show_prices %}
                <th><a href="?sort=price">Price</a></th>
            {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for gemstone in page.object_list %}
            <tr id="{{ gemstone.pk }}" class="hidden-xs hidden-sm{% if forloop.first %} active{% endif %}">
                <td>{{ gemstone.cut }}</td>
                <td>{{ gemstone.cut_grade.name|default:"N/A" }}</td>
                <td>{{ gemstone.carat_weight }}</td>
                <td>{{ gemstone.color }}</td>
                <td>{{ gemstone.clarity }}</td>
                <td>{{ gemstone.certifier }}</td>
            {% if show_prices %}
                <td>{{ gemstone.formatted_price }}</td>
            {% endif %}
            </tr>
            <tr id="{{ gemstone.pk }}" class="visible-xs visible-sm">
                <td><a href="{{ gemstone.get_absolute_url }}">{{ gemstone.cut }}</a></td>
                <td><a href="{{ gemstone.get_absolute_url }}">{{ gemstone.cut_grade.name|default:"N/A" }}</a></td>
                <td><a href="{{ gemstone.get_absolute_url }}">{{ gemstone.carat_weight }}</a></td>
                <td><a href="{{ gemstone.get_absolute_url }}">{{ gemstone.color }}</a></td>
                <td><a href="{{ gemstone.get_absolute_url }}">{{ gemstone.clarity }}</a></td>
                <td class="hidden-xs"><a href="{{ gemstone.get_absolute_url }}">{{ gemstone.certifier }}</a></td>
            {% if show_prices %}
                <td><a href="{{ gemstone.get_absolute_url }}">{{ gemstone.formatted_price }}</a></td>
            {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="table-gemstone-detail col-md-4">
    <div class="detail-affix">
    {% for gemstone in page.object_list %}
        <div id="{{ gemstone.pk }}-detail"{% if forloop.first %} class="active"{% else %} class="hide"{% endif %}>
            <div class="image">
                <span class="{{ gemstone.cut|lower }}">{{ gemstone.cut }} Diamond</span>
            </div>
            <dl class="dl-horizontal">
            {% if gemstone.depth_percent %}
                <dt>Depth</dt><dd>{{ gemstone.depth_percent }}</dd>
            {% endif %}
            {% if gemstone.table_percent %}
                <dt>Table</dt><dd>{{ gemstone.table_percent }}</dd>
            {% endif %}
            {% if gemstone.girdle %}
                <dt>Girdle</dt><dd>{{ gemstone.girdle }}</dd>
            {% endif %}
            {% if gemstone.culet %}
                <dt>Culet</dt><dd>{{ gemstone.culet }}</dd>
            {% endif %}
            {% if gemstone.polish %}
                <dt>Polish</dt><dd>{{ gemstone.polish }}</dd>
            {% endif %}
            {% if gemstone.symmetry %}
                <dt>Symmetry</dt><dd>{{ gemstone.symmetry }}</dd>
            {% endif %}
            {% if gemstone.fluorescence %}
                <dt>Fluorescence</dt><dd>{{ gemstone.fluorescence }}</dd>
            {% endif %}
            {% if gemstone.length %}
                <dt>Length</dt><dd>{{ gemstone.length }}</dd>
            {% endif %}
            {% if gemstone.width %}
                <dt>Width</dt><dd>{{ gemstone.width }}</dd>
            {% endif %}
            {% if gemstone.depth %}
                <dt>Depth</dt><dd>{{ gemstone.depth }}</dd>
            {% endif %}
                <dt>Certifier</dt><dd>{{ gemstone.certifier }}</dd>
                {#<dt>Certificate #</dt><dd>{{ gemstone.cert_num }}</dd>#}
            {% if show_prices %}
                <dt>Price</dt><dd>{{ gemstone.formatted_price }}</dd>
            {% endif %}
            </dl>
            <div class="actions">
            {% if has_ring_builder %}
                {% add_to_builder 'tsj_gemstone.Diamond' gemstone %}
            {% else %}
                {% add_to_cart 'tsj_gemstone.Diamond' gemstone %}
            {% endif %}
                <a href="{% page gemstone-detail gemstone.pk %}" class="btn-view-diamond">View Details</a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
