<table id="diamond_results" class="table table-condensed table-striped">
    <thead>
        <tr class="diamond_listings_header">
            <th>Shape</th>
            <th>Cut</th>
            <th>Carats</th>
            <th>Color</th>
            <th>Clarity</th>
            <th>Price</th>
            <th>Detail</th>
        </tr>
    </thead>
    <tbody>
        {% for diamond in page.object_list %}
        <tr id="{{ diamond.pk }}" class="diamond_listings">
            <td>{{ diamond.cut }}</td>
            <td>{{ diamond.cut_grade.name|default:"N/A" }}</td>
            <td>{{ diamond.carat_weight }}</td>
            <td>{{ diamond.color }}</td>
            <td>{{ diamond.clarity }}</td>
            <td>{{ diamond.formatted_price }}</td>
            <td><a href="/diamonds/{{ diamond.pk }}/" class="view btn btn-mini btn-primary">View</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

