<div class="diamond item">
    <div class="image">
        <img src="/static/tsj_gemstone/images/images/{{ item.cut|lower }}.jpg" width="85">
    </div>
    <div class="info">
        <h4>{{ item.carat_weight }} Carat {{ item.cut }} Diamond</h4>
        <p class="sku">{{ item.stock_number }}</p>
        <ul class="attributes">
            <li><span>Cut:</span> {{ item.cut_grade }}</li>
            <li><span>Color:</span> {{ item.color }}</li>
            <li><span>Clarity:</span> {{ item.clarity }}</li>
        </ul>
    </div>
</div>
