{% extends 'base_page.html' %}
{% load thinkspace_pages tsj_builder_tags %}

{% block js %}{{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}assets/history.js/scripts/bundled/html4+html5/jquery.history.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}tsj_gemstone/js/tsj_gemstone.js?timestamp=20150524"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}tsj_builder/js/add_to_builder.js"></script>
    <script type="text/javascript">
        DIAMOND_LIST_URL = '{% page 'gemstone-list' %}'
    </script>
{% endblock js %}

{% block bodyclass %}{{ block.super }} page-gemstone page-gemstone-list{% endblock %}

{% block content %}
<div class="wrapper">
    {% ring_builder_steps 'diamond' %}
    <div class="section-filters">
        {% include "tsj_gemstone/includes/filterset_site.html" %}
    </div>
    <section class="section-content">
        <div class="table-wrapper row">
            {% include "tsj_gemstone/includes/gemstones.html" %}
        </div>
        <div class="section-pagination bottom">
            {% include "tsj_gemstone/includes/pagination.html" %}
        </div>
    </section>
</div>
{% endblock content %}
