{% extends 'base_page.html' %}
{% load humanize thinkspace_pages thinkspace_social thumbnail tsj_builder_tags tsj_commerce_local_tags %}

{% block js %}{{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}tsj_builder/js/add_to_builder.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}tsj_jewelrybox/js/ajaxsubmit.js"></script>
    <script>
        $( document ).ready(function() {
            // Inquiry
            $('.section-info-questions').jewelrybox_inquiry();
        });
    </script>
{% endblock js %}

{% block titlepage %}{{ object.carat_weight }} Carat, {{ object.cut }} Shaped Diamond{% endblock %}

{% block bodyclass %}{{ block.super }} page-gemstone page-gemstone-detail{% endblock %}

{% block title-wrapper %}{% endblock %}

{% comment %}
<a class="btn btn-primary" href="#" onclick="history.back(-1); return false;"><i class="fa fa-backward"></i> Back to Search</a>
{% endcomment %}

{% block content %}
    {% if has_ring_builder %}
        {% ring_builder_steps 'diamond' %}
    {% endif %}
    <div class="wrapper">
        <div class="section-slideshow">
            <div class="slider">
                {{ object.cut.icon|safe }}
            </div>
        {% comment %}
            <div class="carousel">
            {% for image in images %}
                <a data-index="{{ forloop.counter0 }}" href="#"{% if forloop.first %} class="active"{% endif %}>
                    <img src="{{ image.image|thumbnail_url:"thumbnail" }}" alt="{{ object.brand }} {% firstof object.name object.stock_number %}" />
                </a>
            {% endfor %}
            </div>
        {% endcomment %}
        </div>
        <div class="section-info">
            <div class="title">
                <h2>{{ object.carat_weight }} Carat, {{ object.cut }} Shaped Diamond</h2>
                <p>
                    This {{ object.carat_weight }} carat, {{ object.cut|lower }} shaped
                    {% if object.manmade %} lab grown {% else %} natural {% endif %}
                    diamond comes rated as {{ object.cut_grade|lower }} in cut, 
                    {% firstof object.color object.fancy_color %} in color,
                    and {{ object.clarity }} in clarity by {{ object.certifier }}.
                </p>
            </div>
            <div class="price">
            {% if show_prices %}
                <h3>${{ object.price|floatformat:"0"|intcomma }}</h4>
            {% endif %}
                <div class="actions">
                {% if has_ring_builder %}
                    {% add_to_builder 'tsj_object.Diamond' diamond %}
                {% else %}
                    {% add_to_cart 'tsj_object.Diamond' diamond %}
                {% endif %}
                    <div class="social">
                        <a class="email" href="#" data-toggle="modal" data-target="#modal-share" title="Email">
                            <i class="fa fa-envelope"></i>
                        </a>
                        {% addthis 'test' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="details-wrapper wrapper">
        <div class="section-details">
            <div class="details">
                <h4>Diamond Details</h4>
                <table>
                    <tr>
                        <th>Shape:</th>
                        <td>{{ object.cut }}</td>
                    </tr>
                    <tr>
                        <th>Color:</th>
                        <td>{% firstof object.color object.fancy_color %}</td>
                    </tr>
                    <tr>
                        <th>Clarity:</th>
                        <td>{{ object.clarity }}</td>
                    </tr>
                    <tr>
                        <th>Cut:</th>
                        <td>{{ object.cut_grade }}</td>
                    </tr>
                    <tr>
                        <th>Carat Weight:</th>
                        <td>{{ object.carat_weight }}</td>
                    </tr>
                {% if show_prices %}
                    <tr>
                        <th>Price:</th>
                        <td>${{ object.price|floatformat:"0"|intcomma }}</td>
                    </tr>
                {% endif %}
                    <tr>
                        <th>Stock Number:</th>
                        <td>{{ object.stock_number }}</td>
                    </tr>
                    <tr>
                        <th>Report:</th>
                        <td>{{ object.certifier }}</td>
                    </tr>
                    <tr>
                        <th>Report Number:</th>
                        <td>{{ object.cert_num }}</td>
                    </tr>
                    <tr>
                        <th>Origin:</th>
                        <td colspan="2">
                        {% if object.manmade %}
                            Lab Grown
                        {% else %}
                            Natural
                        {% endif %}
                        </td>
                    </tr>
                {% if object.depth_percent %}
                    <tr>
                        <th>Depth %:</th>
                        <td>{{ object.depth_percent }}</td>
                    </tr>
                {% endif %}
                {% if object.table_percent %}
                    <tr>
                        <th>Table %:</th>
                        <td>{{ object.table_percent }}</td>
                    </tr>
                {% endif %}
                {% if object.girdle %}
                    <tr>
                        <th>Girdle:</th>
                        <td>{{ object.girdle }}</td>
                    </tr>
                {% endif %}
                {% if object.cutlet %}
                    <tr>
                        <th>Culet:</th>
                        <td>{{ object.culet }}</td>
                    </tr>
                {% endif %}
                    <tr>
                        <th>Polish:</th>
                        <td>{{ object.polish }}</td>
                    </tr>
                    <tr>
                        <th>Symmetry:</th>
                        <td>{{ object.symmetry }}</td>
                    </tr>
                    <tr>
                        <th>Fluorescence:</th>
                        <td>{{ object.fluorescence }}</td>
                    </tr>
                    <tr>
                        <th>Fluorescence Color:</th>
                        <td>{{ object.fluorescence_color }}</td>
                    </tr>
                    <tr class="lg">
                        <th>Measurements:</th>
                        <td>{{ object.length }} &times; {{ object.width }} &times; {{ object.depth }}</td>
                    </tr>
                </table>
            </div>
            <div class="certifier">
                <h4>Diamond Report</h4>
                <div class="report">
                {% if object.certifier.logo %}
                    <img src="{% thumbnail object.certifier.logo 200x0 upscale %}" />
                {% else %}
                    <h5>{{ object.certifier.name }}</h5>
                {% endif %}
                {% if object.get_cert_image_type == 'image' %}
                    <a class="" href="{% page gemstone-print object.pk %}" target="_blank"><i class="fa fa-print"></i> Print Report</a>
                {% endif %}
                {% if object.get_cert_image_type == 'image' or object.get_cert_image_type == 'other' %}
                    <a class="" href="{{ object.cert_image }}" target="_blank">View Report</a>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="section-education">
            <div class="cut">
                <h4>Cut: {{ object.cut_grade}}</h4>
                <ul class="legend">
                {% for cut in gradings %}
                    <li{% if cut == object.cut_grade %} class="active"{% endif %}>{{ cut }}</li>
                {% endfor %}
                </ul>
                <p>
                    {{ object.cut_grade.description }}
                </p>
            </div>
            <div class="color">
                <h4>Color: {{ object.color }}</h4>
                <ul class="legend">
                {% for color in colors %}
                    <li{% if color == object.color %} class="active"{% endif %}>{{ color }}</li>
                {% endfor %}
                </ul>
                <p>
                    {{ object.color.description }}
                </p>
            </div>
            <div class="clarity">
                <h4>Clarity: {{ object.clarity }}</h4>
                <ul class="legend">
                {% for clarity in clarities %}
                    <li{% if clarity == object.clarity %} class="active"{% endif %}>{{ clarity }}</li>
                {% endfor %}
                </ul>
                <p>
                    {{ object.clarity.description }}
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
