{% extends 'base_page.html' %}
{% load thinkspace_pages tsj_builder_tags %}

{% block js %}{{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}assets/history.js/scripts/bundled/html4+html5/jquery.history.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}tsj_gemstone/js/tsj_gemstone.js?timestamp=20150524"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}tsj_builder/js/add_to_builder.js"></script>
    <script type="text/javascript">
        DIAMOND_LIST_URL = '{% page 'gemstone-list' %}'
        COLORS = [{% for color in colors %}"{{ color.abbr }}"{% if not forloop.last %},{% endif %}{% endfor %}]
        GRADINGS = [{% for grading in gradings %}"{{ grading.name }}"{% if not forloop.last %},{% endif %}{% endfor %}]
        CLARTIIES = [{% for clarity in clarities %}"{{ clarity.name }}"{% if not forloop.last %},{% endif %}{% endfor %}]
        FLUORESCENCES = [{% for fluorescence in fluorescences %}"{{ fluorescence.name }}"{% if not forloop.last %},{% endif %}{% endfor %}]

        $("#price").ionRangeSlider({
            min: {{ prices.min }},
            max: {{ prices.max }},
            from: {{ filterset.data.price_0 }},
            to: {{ filterset.data.price_1 }},
            hide_min_max: true,
            hide_from_to: true,
            onFinish: function(data) {
                updateResults();
            }
        });
        var price_slider = $('#price').data('ionRangeSlider');

        $("#carat_weight").ionRangeSlider({
            min: {{ carat_weights.min }},
            max: {{ carat_weights.max }},
            from: {{ filterset.data.carat_weight_0 }},
            to: {{ filterset.data.carat_weight_1 }},
            hide_min_max: true,
            hide_from_to: true,
            onFinish: function(data) {
                updateResults();
            }
        });
        var carat_weight_slider = $('#carat_weight').data('ionRangeSlider');

        $('#color').ionRangeSlider({
            hide_min_max: true,
            hide_from_to: true,
            values: COLORS,
            onFinish: function(data) {
                update_results();
            }
        });
        $('#cut_grade').ionRangeSlider({
            hide_min_max: true,
            hide_from_to: true,
            values: GRADINGS,
            onFinish: function(data) {
                update_results();
            }
        });
        $('#clarity').ionRangeSlider({
            hide_min_max: true,
            hide_from_to: true,
            values: CLARTIIES,
            onFinish: function(data) {
                update_results();
            }
        });
        $('#polish').ionRangeSlider({
            hide_min_max: true,
            hide_from_to: true,
            values: GRADINGS,
            onFinish: function(data) {
                update_results();
            }
        });
        $('#symmetry').ionRangeSlider({
            hide_min_max: true,
            hide_from_to: true,
            values: GRADINGS,
            onFinish: function(data) {
                update_results();
            }
        });
        $('#fluorescence').ionRangeSlider({
            hide_min_max: true,
            hide_from_to: true,
            values: FLUORESCENCES,
            onFinish: function(data) {
                update_results();
            }
        });
    </script>
{% endblock js %}

{% block bodyclass %}{{ block.super }} page-gemstone page-gemstone-list{% endblock %}

{% block content %}
<div class="wrapper">
    {% ring_builder_steps 'diamond' %}
    <div class="section-filters">
        {% include "tsj_gemstone/includes/filterset_site.html" %}
    </div>
    <section class="section-content">
        <div class="section-gemstones row">
            {% include "tsj_gemstone/includes/gemstones.html" %}
        </div>
        <div class="section-pagination bottom">
            {% include "tsj_gemstone/includes/pagination.html" %}
        </div>
    </section>
</div>
{% endblock content %}
