{% extends 'tsj_core/base_page.html' %}
{% load thinkspace_pages tsj_ui_tags %}
{% load render_mt_bundle from tsj_ui_tags %}

{% block breadcrumb-trail-last %}
<li class="nav-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a href="{{ tspages_page.url|absolute_uri:request }}" itemscope itemtype="http://schema.org/Thing" itemprop="item">
        <span itemprop="name"> Diamonds</span>
        <meta itemprop="position" content="2" />
    </a>
</li>
{% endblock breadcrumb-trail-last %}

{% block content %}
    <div class="row hidden-print">
        <div class="column col-xs-12">
            {% widget_dock above_content %}
        </div>
    </div>
    <div class="row row-content">
        <div class="section-content col-12">
            <h5 class="text-center">
                <br>We couldn't find any diamonds that matched your selected criteria.
            </h5>
        </div>
    </div>
    <div class="row hidden-print">
        <div class="column col-xs-12">
            {% widget_dock below_content %}
        </div>
    </div>
{% endblock content %}
