{% extends 'base_page.html' %}
{% load humanize thinkspace_pages thinkspace_social thumbnail tsj_builder_tags tsj_commerce_local_tags %}

{% block extra_head %}
{% comment %}
    <meta property="og:site_name" content="{{ COMPANY }}" />
    <meta property="og:title" content="{{ object.brand }} {% firstof object.name object.stock_number %}" />
    <meta property="og:type" content="product" />
    <meta property="og:description" content="{{ object.description }}" />
    <meta property="og:image" content="{{ image.image|thumbnail_url:"large800" }}" />
{% endcomment %}
{% endblock extra_head %}

{% block js %}{{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}tsj_builder/js/add_to_builder.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}tsj_jewelrybox/js/ajaxsubmit.js"></script>
    <script>
        $(document).ready(function() {
            var slider = $('.slider').owlCarousel({
                dots: false,
                items: 1,
                lazyLoad: true,
                loop: false,
                touchDrag: false,
                nav: false
            });
            $('.carousel a').click(function(e) {
                e.preventDefault();
                var thumbnail = $(this);
                slider.trigger('to.owl.carousel', [thumbnail.data('index'), 500, true]);
                carousel.find('.active').removeClass('active');
                thumbnail.addClass('active');
            });
            // Inquiry
            $('.section-info-questions').jewelrybox_inquiry();
        });
    </script>
{% endblock js %}

{% block titlepage %}{{ object.carat_weight }} Carat, {{ object.cut }} Shaped Diamond{% endblock %}

{% block bodyclass %}{{ block.super }} page-gemstone page-gemstone-detail{% endblock %}

{% block title-wrapper %}{% endblock %}

{% comment %}
<a class="btn btn-primary" href="#" onclick="history.back(-1); return false;"><i class="fa fa-backward"></i> Back to Search</a>
{% endcomment %}

{% block content %}
    {% if has_ring_builder %}
        {% ring_builder_steps 'diamond' %}
    {% endif %}
    <div class="wrapper">
        <div class="section-slideshow">
            <div class="slider">
                <div class="item">
                    {{ object.cut.icon|safe }}
                </div>
                <div class="item">
                    <img src="{{ object.cut.image.url }}" />
                </div>
            </div>
            <div class="carousel">
                <a data-index="0" href="#" class="active">
                    {{ object.cut.icon|safe }}
                </a>
                <a data-index="1" href="#">
                    <img src="{{ object.cut.image.url }}" />
                </a>
            </div>
        </div>
        <div class="section-info">
            <div class="title">
                <h2>{{ object.carat_weight }} Carat, {{ object.cut }} Shaped Diamond</h2>
                <p>
                    This {{ object.carat_weight }} carat, {{ object.cut|lower }} shaped
                    {% if object.manmade %} lab grown {% else %} natural {% endif %}
                    diamond comes rated as {{ object.cut_grade }} in cut,
                    {% firstof object.color object.fancy_color %} in color,
                    and {{ object.clarity }} in clarity by {{ object.certifier }}.
                    <span class="stock-number">Stock Number: {{ object.stock_number }}</span>
                </p>
            </div>
            <div class="price">
            {% if show_prices %}
                <h3>${{ object.price|floatformat:"0"|intcomma }}</h3>
            {% endif %}
            </div>
            <div class="actions">
            {% if has_ring_builder %}
                {% add_to_builder 'tsj_object.Diamond' diamond %}
            {% else %}
                {% add_to_cart 'tsj_object.Diamond' diamond %}
            {% endif %}
                <div class="social">
                    <a class="email" href="#" data-toggle="modal" data-target="#modal-share" title="Email">
                        <i class="fa fa-envelope"></i>
                    </a>
                    {% addthis 'test' %}
                </div>
                <div class="contact">
                    <em>Have Questions? <a href="#">Talk to one of our Diamond Experts</a></em>
                </div>
            </div>
        </div>
    </div>
    <div class="details-wrapper wrapper">
        <div class="section-details">
            <div class="details">
                <h4>Diamond Details</h4>
                <table>
                    <tr>
                        <th>Shape:</th>
                        <td>{{ object.cut }}</td>
                    </tr>
                    <tr>
                        <th>Color:</th>
                        <td>{% firstof object.color object.fancy_color %}</td>
                    </tr>
                    <tr>
                        <th>Clarity:</th>
                        <td>{{ object.clarity }}</td>
                    </tr>
                    <tr>
                        <th>Cut:</th>
                        <td>{{ object.cut_grade }}</td>
                    </tr>
                    <tr>
                        <th>Carat Weight:</th>
                        <td>{{ object.carat_weight }}</td>
                    </tr>
                {% if show_prices %}
                    <tr>
                        <th>Price:</th>
                        <td>${{ object.price|floatformat:"0"|intcomma }}</td>
                    </tr>
                {% endif %}
                    <tr>
                        <th>Stock Number:</th>
                        <td>{{ object.stock_number }}</td>
                    </tr>
                    <tr>
                        <th>Report:</th>
                        <td>{{ object.certifier }}</td>
                    </tr>
                    <tr>
                        <th>Report Number:</th>
                        <td>{{ object.cert_num }}</td>
                    </tr>
                    <tr>
                        <th>Origin:</th>
                        <td colspan="2">
                        {% if object.manmade %}
                            Lab Grown
                        {% else %}
                            Natural
                        {% endif %}
                        </td>
                    </tr>
                {% if object.depth_percent %}
                    <tr>
                        <th>Depth %:</th>
                        <td>{{ object.depth_percent }}</td>
                    </tr>
                {% endif %}
                {% if object.table_percent %}
                    <tr>
                        <th>Table %:</th>
                        <td>{{ object.table_percent }}</td>
                    </tr>
                {% endif %}
                {% if object.girdle %}
                    <tr>
                        <th>Girdle:</th>
                        <td>{{ object.girdle|title }}</td>
                    </tr>
                {% endif %}
                {% if object.cutlet %}
                    <tr>
                        <th>Culet:</th>
                        <td>{{ object.culet }}</td>
                    </tr>
                {% endif %}
                    <tr>
                        <th>Polish:</th>
                        <td>{{ object.polish }}</td>
                    </tr>
                    <tr>
                        <th>Symmetry:</th>
                        <td>{{ object.symmetry }}</td>
                    </tr>
                    <tr>
                        <th>Fluorescence:</th>
                        <td>{{ object.fluorescence }}</td>
                    </tr>
                    <tr>
                        <th>Fluorescence Color:</th>
                        <td>{{ object.fluorescence_color }}</td>
                    </tr>
                    <tr class="lg">
                        <th>Measurements:</th>
                        <td>{{ object.length }} &times; {{ object.width }} &times; {{ object.depth }}</td>
                    </tr>
                </table>
            </div>
            <div class="certifier">
                <h4>Diamond Report</h4>
                <div class="report">
                {% if object.certifier.logo %}
                    <img src="{% thumbnail object.certifier.logo 200x0 upscale %}" />
                {% else %}
                    <h5>{{ object.certifier.name }}</h5>
                {% endif %}
                {% if object.certifier.url %}
                    {% if object.certifier.url and object.cert_num %}
                        <a href="{{ object.certifier.url }}{{ object.cert_num|cut:"US"|cut:"us"|cut:"D"|cut:"d" }}{% if object.certifier.abbr == 'AGS' %}&Weight={{ object.carat_weight }}{% endif %}" target="_blank">
                            View Report <i class="fa fa-external-link"></i>
                        </a>
                    {% endif %}
                {% else %}
                    {% if object.get_cert_image_type == 'image' or object.get_cert_image_type == 'other' %}
                        <a href="{{ object.cert_image }}" target="_blank">
                            View Report <i class="fa fa-external-link"></i>
                        </a>
                    {% endif %}
                    {% if object.get_cert_image_type == 'image' %}
                        <a href="{% page gemstone-print object.pk %}" target="_blank">
                            Print Report <i class="fa fa-print"></i>
                        </a>
                    {% endif %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="section-education">
        {% if object.cut_grade %}
            <div class="cut">
                <h4>Cut: <span>{{ object.cut_grade}}</span></h4>
                <ul class="legend">
                {% for cut in gradings %}
                    <li{% if cut == object.cut_grade %} class="active"{% endif %}>{{ cut }}</li>
                {% endfor %}
                </ul>
                <p>
                    {{ object.cut_grade.description }}
                </p>
            </div>
        {% endif %}
        {% if object.color %}
            <div class="color{% if not object.cut_grade %} lg{% endif %}">
                <h4>Color: <span>{{ object.color }}</span></h4>
                <ul class="legend">
                {% for color in colors %}
                    <li{% if color == object.color %} class="active"{% endif %}>{{ color }}</li>
                {% endfor %}
                </ul>
                <p>
                    {{ object.color.description }}
                </p>
            </div>
        {% endif %}
        {% if object.clarity %}
            <div class="clarity{% if not object.cut_grade %} lg{% endif %}">
                <h4>Clarity: <span>{{ object.clarity }}</span></h4>
                <ul class="legend">
                {% for clarity in clarities %}
                    <li{% if clarity == object.clarity %} class="active"{% endif %}>{{ clarity }}</li>
                {% endfor %}
                </ul>
                <p>
                    {{ object.clarity.description }}
                </p>
            </div>
        {% endif %}
        </div>
    </div>
    <div class="wrapper">
        <div class="section-similar">
            <h4>You May Also Like</h4>
            <table>
                <thead>
                    <tr>
                        <th class="shape">Shape</th>
                        <th>Carat</th>
                        <th>Cut</th>
                        <th>Color</th>
                        <th>Clarity</th>
                        <th class="hidden-xs">Polish</th>
                        <th class="hidden-xs">Symmetry</th>
                        <th class="hidden-xs">Fluorescence</th>
                    {% comment %}
                        <th class="hidden-xs">Table</th>
                        <th class="hidden-xs">Depth</th>
                    {% endcomment %}
                        <th class="hidden-xs">Report</th>
                    {% if show_prices %}
                        <th>Price</th>
                    {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for gemstone in similar %}
                    <tr id="{{ gemstone.pk }}" data-url="{% page gemstone-detail gemstone.pk %}">
                        <td class="shape">
                            <span class="icon">
                                {{ gemstone.cut.icon|safe }}
                            </span>
                            <span class="name hidden-xs">
                                {{ gemstone.cut.name }}
                            </span>
                        </td>
                        <td>{{ gemstone.carat_weight }}</td>
                        <td>{{ gemstone.cut_grade.name|default:"N/A" }}</td>
                        <td>{{ gemstone.color }}</td>
                        <td>{{ gemstone.clarity }}</td>
                        <td class="hidden-xs">{{ gemstone.polish }}</td>
                        <td class="hidden-xs">{{ gemstone.symmetry }}</td>
                        <td class="hidden-xs">{{ gemstone.fluorescence }}</td>
                    {% comment %}
                        <td class="hidden-xs">{{ gemstone.table_percent }}</td>
                        <td class="hidden-xs">{{ gemstone.depth_percent }}</td>
                    {% endcomment %}
                        <td class="hidden-xs">{{ gemstone.certifier }}</td>
                    {% if show_prices %}
                        <td>{{ gemstone.formatted_price }}</td>
                    {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
