{% extends 'tswidgets/widget.html' %}
{% load thinkspace_pages %}

{% block content %}
    {% if widget.get_title %}
        <div class="widget-title">
            <h2>{{ widget.get_title }}</h2>
        </div>
    {% endif %}

    {% comment %}
    TODO: Make use of testimonial widget style.
    {% if widget_style == "carousel" %}Around and around{% else %}down and down{% endif %}
    {% if widget_style == "list" %}down and down{% else %}Around and around{% endif %}

    {{ widget_style }}
    {% endcomment %}

    <div class="widget-content gemstone-widget">
        <ul class="cuts">
        {% for cut in widget_object_list %}
            <li>
                <a href="{% page gemstone-list %}?cut={{ cut.abbr }}" title="{{ cut.name }}" class="{{ cut.name|slugify }}">
                    <span class="image">{{ cut.name }}</span>
                    <span class="text">{{ cut.name }}</span>
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>

{% endblock content %}
