{% extends 'tswidgets/widget.html' %}
{% load thinkspace_pages %}

{% block section-widget-type %} widget-gemstones{% if widget_style == "advanced" %} widget-gemstones-images{% else %}widget-gemstones-vectors{{% endif %}{% endblock %}

{% block content %}
    {% if widget.get_title %}
        <div class="widget-title">
            <h2>{{ widget.get_title }}</h2>
        </div>
    {% endif %}

    {% if header %}
        <div class="widget-header">
            {{ header|safe }}
        </div>
    {% endif %}

    <div class="widget-content">
        <ul class="cuts">
        {% for cut in widget_object_list %}
            <li>
                <a href="{% page gemstone-list %}?cut={{ cut.abbr }}" title="{{ cut.name }}" class="{{ cut.name|slugify }}">
                    {% if widget_style == "simple" %}
                        <img src="{{ STATIC_URL }}tsj_gemstone/images/vector/{{ cut.name|lower }}.png" />
                    {% elif widget_style == "advanced" %}
                        <img src="{{ STATIC_URL }}tsj_gemstone/images/images/{{ cut.name|lower }}.jpg" />
                    {% endif %}
                    <span>{{ cut.name }}</span>
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
    {% if show_view_all %}
        <div class="viewall">
            <a href="{{ show_view_all_link }}" title="{{ object }}" class="btn btn-primary">{{ show_view_all_name }}</a>
        </div>
    {% endif %}

{% endblock content %}
