/********************************************
` Widget : Diamonds
*********************************************/
.gemstone-widget {
    .cuts {
        .list-unstyled();

        li {
            display: inline-block;
            margin: 10px;
        }

        li a {
            background-position: center;
            background-repeat: no-repeat;
            background-size: 60px 60px;
            display: block;
            height: 60px;
            text-align: center;
            text-indent: -9999px;
            width: 60px;
        }

        li.asscher a {
            background-image: url(/static/tsj_gemstone/images/asscher.png);
        }

        li.baguette a {
            background-image: url(/static/tsj_gemstone/images/baguette.png);
        }

        li.cushion a {
            background-image: url(/static/tsj_gemstone/images/cushion.png);
        }

        li.emerald a {
            background-image: url(/static/tsj_gemstone/images/emerald.png);
        }

        li.heart a {
            background-image: url(/static/tsj_gemstone/images/heart.png);
        }

        li.marquise a {
            background-image: url(/static/tsj_gemstone/images/marquise.png);
        }

        li.oval a {
            background-image: url(/static/tsj_gemstone/images/oval.png);
        }

        li.pear a {
            background-image: url(/static/tsj_gemstone/images/pear.png);
        }

        li.princess a {
            background-image: url(/static/tsj_gemstone/images/princess.png);
        }

        li.radiant a {
            background-image: url(/static/tsj_gemstone/images/radiant.png);
        }

        li.round a {
            background-image: url(/static/tsj_gemstone/images/round.png);
        }

        li.trilliant a {
            background-image: url(/static/tsj_gemstone/images/trilliant.png);
        }
    }
}

/********************************************
` Page : Diamonds : Listing
*********************************************/
.page-gemstone-list {
    .section-sidebar {
        .make-md-column(3);
    }

    .section-content {
        .make-md-column(9);

        .table-gemstone {
            .table-responsive();
        }

        .table-wrapper {
            .clearfix();
        }

        .table-wrapper {
            .clearfix();
        }

        .table-striped > tbody {
            font-size: 12px;
        }

        .table-striped > tbody > tr > td,
        .table-striped > tbody > tr > th {
            background-color: #F8F7F5;
        }

        .table-striped > tbody > tr:nth-child(2n+1) > td,
        .table-striped > tbody > tr:nth-child(2n+1) > th {
            background-color: #F0EFED;
        }

        .table-striped > tbody > tr.active > td {
            background-color: #FFF;
            font-weight: bold;
        }

        table > tbody > tr:hover {
            cursor: pointer;
        }

        @media(max-width: @screen-sm-max) {
            .table td {
                padding: 0;

                a {
                    color: @gray;
                    display: inline-block;
                    padding: 10px 5px;
                }
            }
        }

        .table-gemstone-detail {
            .hidden-xs();
            .hidden-sm();
        }

        .table-gemstone-detail .affix {
            position: fixed !important;
            top: 20px;
        }

        .table-gemstone-detail .image {
            margin-bottom: 20px;
            text-align: center;
        }

        .table-gemstone-detail .image span {
            background-position: center;
            background-repeat: no-repeat;
            background-size: 200px 200px;
            display: block;
            height: 200px;
            text-indent: -9999px;
        }

        .table-gemstone-detail .image span.asscher {
            background-image: url("/static/tsj_gemstone/images/asscher.png");
        }

        .table-gemstone-detail .image span.baguette {
            background-image: url("/static/tsj_gemstone/images/baguette.png");
        }

        .table-gemstone-detail .image span.cushion {
            background-image: url("/static/tsj_gemstone/images/cushion.png");
        }

        .table-gemstone-detail .image span.emerald {
            background-image: url("/static/tsj_gemstone/images/emerald.png");
        }

        .table-gemstone-detail .image span.heart {
            background-image: url("/static/tsj_gemstone/images/heart.png");
        }

        .table-gemstone-detail .image span.marquise {
            background-image: url("/static/tsj_gemstone/images/marquise.png");
        }

        .table-gemstone-detail .image span.oval {
            background-image: url("/static/tsj_gemstone/images/oval.png");
        }

        .table-gemstone-detail .image span.pear {
            background-image: url("/static/tsj_gemstone/images/pear.png");
        }

        .table-gemstone-detail .image span.princess {
            background-image: url("/static/tsj_gemstone/images/princess.png");
        }

        .table-gemstone-detail .image span.radiant {
            background-image: url("/static/tsj_gemstone/images/radiant.png");
        }

        .table-gemstone-detail .image span.round {
            background-image: url("/static/tsj_gemstone/images/round.png");
        }

        .table-gemstone-detail .image span.trilliant {
            background-image: url("/static/tsj_gemstone/images/trilliant.png");
        }

        .dl-horizontal {
            font-size: 12px;
        }

        .dl-horizontal dt {
            width: 48%;
        }

        .dl-horizontal dd {
            margin-left: 52%;
        }

        .table-gemstone-detail .actions {
            text-align: center;

            .dropdown-menu {
                font-size: 12px;
                min-width: auto;
                width: 100%;
            }

            .btn-select-diamond {
                .btn();
                .btn-block();
                .btn-primary();
                margin-bottom: 10px;
            }
            .btn-view-diamond {
                .btn();
                .btn-block();
                .btn-default();
            }
        }
    }
}

/********************************************
` Page : Diamonds : Details
*********************************************/

.page-gemstone-detail {
    .section-title {
        .make-md-column(10);
    }
    .section-breadcrumb {
        .make-md-column(2);

        .breadcrumb {
            margin: 10px 0 0;
        }
    }
    .section-sidebar {
        .make-sm-column(4);
        .make-md-column(4);
        .text-center();

        .gemstone-images {
            margin-bottom: 20px;

            img {
                .img-responsive();
            }
        }

        a {
            .btn();

            &.view-cert {
                .btn-default();
            }

            &.add-cart {
                .btn-primary();
            }
        }

        .section-info-questions {
            .text-left();
            margin-top: 30px;
        }
    }
    .section-content {
        .make-sm-column(8);
        .make-md-column(8);

        .group-wrapper {
            .make-sm-column(6);
            .make-md-column(6);

            table {
                .table();
                .table-condensed();
                margin-bottom: 0;

                tr.stock-number th,
                tr.stock-number td {
                    font-weight: bold;
                }
            }
        }
        .actions-wrapper {
            .make-sm-column(12);
            .make-md-column(12);
            margin-top: 20px;
            margin-bottom: 10px;

            form {
                .pull-left();
                margin-right: 15px;


                .dropdown-menu {
                    font-size: 12px;
                    min-width: auto;
                    width: 100%;
                }

                .btn-select-diamond {
                    .btn();
                    .btn-primary();
                    margin-bottom: 10px;
                }
            }
        }
        .cert-wrapper {
            .make-sm-column(12);
            .make-md-column(12);
        }
    }
}
