.gemstone-widget {
    .cuts {
        .list-unstyled();

        li {
            display: inline-block;
            margin: 10px;
        }

        li a {
            background-position: center;
            background-repeat: no-repeat;
            background-size: 60px 60px;
            display: block;
            height: 60px;
            text-align: center;
            text-indent: -9999px;
            width: 60px;
        }

        li.asscher a {
            background-image: url(/static/tsj_gemstone/images/asscher.png);
        }

        li.baguette a {
            background-image: url(/static/tsj_gemstone/images/baguette.png);
        }

        li.cushion a {
            background-image: url(/static/tsj_gemstone/images/cushion.png);
        }

        li.emerald a {
            background-image: url(/static/tsj_gemstone/images/emerald.png);
        }

        li.heart a {
            background-image: url(/static/tsj_gemstone/images/heart.png);
        }

        li.marquise a {
            background-image: url(/static/tsj_gemstone/images/marquise.png);
        }

        li.oval a {
            background-image: url(/static/tsj_gemstone/images/oval.png);
        }

        li.pear a {
            background-image: url(/static/tsj_gemstone/images/pear.png);
        }

        li.princess a {
            background-image: url(/static/tsj_gemstone/images/princess.png);
        }

        li.radiant a {
            background-image: url(/static/tsj_gemstone/images/radiant.png);
        }

        li.round a {
            background-image: url(/static/tsj_gemstone/images/round.png);
        }

        li.trilliant a {
            background-image: url(/static/tsj_gemstone/images/trilliant.png);
        }


    }
}
