{% extends 'base.html' %}
{% load thinkspace_pages %}

{% block title %}Diamonds{% endblock title %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}tsj_gemstone/js/diamonds.js"></script>
    <script type="text/javascript">
        // Setup some variables that we need
        DIAMOND_LIST_URL = '{% page diamond-list %}'
        CLARITIES = [
            {% for clarity in clarities %}['{{ clarity.order }}', '{{ clarity.abbr }}']{% if not forloop.last %},
            {% endif %}{% endfor %}
        ];
        GRADINGS = [
            {% for grading in gradings %}['{{ grading.order }}', '{{ grading.name }}']{% if not forloop.last %},
            {% endif %}{% endfor %}
        ];
        CARAT_WEIGHTS = [Math.floor({{ carat_weights.min }}), Math.ceil({{ carat_weights.max }})];
        PRICES = [Math.floor({{ prices.min }}), Math.ceil({{ prices.max }})];
    </script>
{% endblock js %}

{% block bodyclass %}diamond-list{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block wrapper %}
<div class="row">
    <div class="span12">
        <div class="title-page">
            <h1>{{ tspages_page.title }}</h1>
        </div>
    </div>
</div>
<div id="diamonds" class="diamonds">
    <div class="row">
    <div class="span3">
        <div id="diamond_filters" class="diamond-filters">
            <form id="diamond_filter_form">
                <input type="hidden" id="price_min" class="hidden" name="price_min" />
                <input type="hidden" id="price_max" class="hidden" name="price_max" />
                <input type="hidden" id="carat_weight_min" class="hidden" name="carat_weight_min" />
                <input type="hidden" id="carat_weight_max" class="hidden" name="carat_weight_max" />
                <input type="hidden" id="color_min" class="hidden" name="color_min" />
                <input type="hidden" id="color_max" class="hidden" name="color_max" />
                <input type="hidden" id="clarity_min" class="hidden" name="clarity_min" />
                <input type="hidden" id="clarity_max" class="hidden" name="clarity_max" />
                <input type="hidden" id="cut_grade_min" class="hidden" name="cut_grade_min" />
                <input type="hidden" id="cut_grade_max" class="hidden" name="cut_grade_max" />
                <input type="hidden" id="polish_min" class="hidden" name="polish_min" />
                <input type="hidden" id="polish_max" class="hidden" name="polish_max" />
                <input type="hidden" id="symmetry_min" class="hidden" name="symmetry_min" />
                <input type="hidden" id="symmetry_max" class="hidden" name="symmetry_max" />

                <div id="tab_cut" class="cut group">
                    <h3>Cut / Shape</h3>
                    <ul>
                    {% for cut in cuts %}
                        <li class="{{ cut.name|slugify }}">
                            <input id="{{ cut.name|slugify }}" type="checkbox" name="cut" value="{{ cut.abbr }}" />
                            <label for="{{ cut.name|slugify }}"><span class="icon"></span>{{ cut.name }}</label>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <div id="tab_price" class="price inputs slider group">
                    <h3>Budget</h3>
                    <div id="price_range"></div>
                    <div class="wrapper-price">
                        <input class="price_display price-min-display" id="price_min_display" />
                        <input class="price_display price-max-display" id="price_max_display" />
                    </div>
                </div>
                <div id="tab_carat_weight" class="carat-weight slider group">
                    <h3>Carat Weight</h3>
                    <div id="carat_weight_range"></div>
                    <p><span id="carat_weight_min_display"></span> to <span id="carat_weight_max_display"></span></p>
                </div>
                <div id="tab_color" class="color slider group">
                    <h3>Color</h3>                    
                    <div id="color_range"></div>
                    <p><span id="color_min_display"></span> to <span id="color_max_display"></span></p>
                </div>
                <div id="tab_clarity" class="clarity slider group">
                    <h3>Clarity</h3>
                    <div id="clarity_range"></div>
                    <p><span id="clarity_min_display"></span> to <span id="clarity_max_display"></span></p>
                </div>
                <div id="cut_grade" class="cut-grade slider group">
                    <h3>Cut</h3>
                    <div id="cut_grade_range"></div>
                    <p><span id="cut_grade_min_display"></span> to <span id="cut_grade_max_display"></span></p>
                </div>
                <div id="polish" class="polish slider group">
                    <h3>Polish</h3>
                    <div id="polish_range"></div>
                    <p><span id="polish_min_display"></span> to <span id="polish_max_display"></span></p>
                </div>
                <div id="symmmetry" class="symmetry slider group">
                    <h3>Symmetry</h3>
                    <div id="symmetry_range"></div>
                    <p><span id="symmetry_min_display"></span> to <span id="symmetry_max_display"></span></p>
                </div>
                <div id="certifier" class="certifier last">
                    <h3>Certifier</h3>
                    {% for certifier in certifiers %}
                        <label>
                            <input type="checkbox" name="certifier" value="{{ certifier.abbr }}">
                            {{ certifier.name }}
                        </label>
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>
    <div class="span9">
        <div id="diamond_listings" class="diamond-listing">
            <h3 class="results">{% include "tsj_gemstone/includes/results_partial.html" %}</h3>
            {% include "tsj_gemstone/includes/list_partial.html" %}
            <div class="toolbar-pagination">
                {% include "tsj_gemstone/includes/paginator_full_partial.html" %}
            </div>
        </div>
        <div id="diamond_loading" class="loading-diamond" style="display: none;">
            <h3>Updating Diamonds</h3>
            <div class="loading">
                <img src="{{ STATIC_URL }}tsj_gemstone/images/preloader.gif" alt="Loading...">
            </div>
        </div>
    </div>
</div>
</div>
{% endblock wrapper %}
