{% extends 'base_page.html' %}
{% load thinkspace_pages %}

{% block css %}{{ block.super }}
    <link media="screen" type="text/css" href="{{ STATIC_URL }}tsj_gemstone/css/tsj_gemstone.css" rel="stylesheet" />
    <style>
        .smooth_zoom_preloader {
            background-image: url({{ STATIC_URL }}tsj_gemstone/plugins/smoothZoom/preloader.gif);
        }
        .smooth_zoom_icons {
            background-image: url({{ STATIC_URL }}tsj_gemstone/plugins/smoothZoom/icons.png);
        }
    </style>
{% endblock css %}

{% block js %}{{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}tsj_gemstone/plugins/smoothZoom/jquery.smoothZoom.min.js"></script>
    <script>
        $( document ).ready(function() {
            $('.cert-image').smoothZoom({
                height: '500px',
                width: '560px',
            });
        });
    </script>
{% endblock js %}

{% block bodyclass %}{{ block.super }} gemstone-detail{% endblock %}

{% block title %}{{ diamond.carat_weight }}-Carat {{ diamond.cut }} Shaped Diamond{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="text-center">
                <img src="{{ STATIC_URL }}tsj_gemstone/images/{{ diamond.cut|lower }}.png">
            {% if diamond.cert_image %}
                <button class="btn btn-primary" data-toggle="modal" data-target="#modal-certifier"><i class="fa fa-certificate"></i> {{ diamond.certifier }} Report</button>
            {% endif %}
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <div class="group">
                        <h3>The 4 C's</h3>
                        <table class="table table-condensed">
                            <tr>
                                <th>Color:</th>
                                <td>{{ diamond.color }}</td>
                            </tr>
                            <tr>
                                <th>Clarity:</th>
                                <td>{{ diamond.clarity }}</td>
                            </tr>
                            <tr>
                                <th>Cut</th>
                                <td>{{ diamond.cut_grade }}</td>
                            </tr>
                            <tr>
                                <th>Carat Weight:</th>
                                <td>{{ diamond.carat_weight }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="group">
                        <h3>Details</h3>
                        <table class="table table-condensed">
                        {% if show_prices == 'anon' or show_prices == 'auth' and user.is_authenticated %}
                            <tr>
                                <th>Price:</th>
                                <td>{{ diamond.formatted_price }}</td>
                            </tr>
                        {% endif %}
                            <tr>
                                <th>Stock #:</th>
                                <td>{{ diamond.stock_number }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="group">
                        <h3>Measurements</h3>
                        <table class="table table-condensed">
                            {% if diamond.depth_percent %}
                                <tr>
                                    <th>Depth %:</th>
                                    <td>{{ diamond.depth_percent }}</td>
                                </tr>
                            {% endif %}
                            {% if diamond.table_percent %}
                                <tr>
                                    <th>Table %:</th>
                                    <td>{{ diamond.table_percent }}</td>
                                </tr>
                            {% endif %}
                            {% if diamond.girdle %}
                                <tr>
                                    <th>Girdle:</th>
                                    <td>{{ diamond.girdle }}</td>
                                </tr>
                            {% endif %}
                            {% if diamond.cutlet %}
                                <tr>
                                    <th>Culet:</th>
                                    <td>{{ diamond.culet }}</td>
                                </tr>
                            {% endif %}
                            {% if diamond.potdsh %}
                                <tr>
                                    <th>Polish:</th>
                                    <td>{{ diamond.potdsh }}</td>
                                </tr>
                            {% endif %}
                            {% if diamond.symmetry %}
                                <tr>
                                    <th>Symmetry:</th>
                                    <td>{{ diamond.symmetry }}</td>
                                </tr>
                            {% endif %}
                            {% if diamond.fluorescence %}
                                <tr>
                                    <th>Fluorescence:</th>
                                    <td>{{ diamond.fluorescence }}</td>
                                </tr>
                            {% endif %}
                            {% if diamond.fluorescence_color %}
                                <tr>
                                    <th>Fluorescence Color:</th>
                                    <td>{{ diamond.fluorescence_color }}</td>
                                </tr>
                            {% endif %}
                            {% if diamond.length %}
                                <tr>
                                    <th>Length:</th>
                                    <td>{{ diamond.length }}</td>
                                </tr>
                            {% endif %}
                            {% if diamond.width %}
                                <tr>
                                    <th>Width:</th>
                                    <td>{{ diamond.width }}</td>
                                </tr>
                            {% endif %}
                            {% if diamond.depth %}
                                <tr>
                                    <th>Depth:</th>
                                    <td>{{ diamond.depth }}</td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% if diamond.cert_image %}
    <div class="modal fade" id="modal-certifier" role="dialog" aria-labelledby="label-modal-certifier" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="label-modal-certifier">{{ diamond.certifier }} Report</h4>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <img class="cert-image" src="{{ diamond.cert_image }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock content %}
