{% extends 'base_page.html' %}
{% load humanize thinkspace_pages %}

{% block css %}{{ block.super }}
    <style>
        .smooth_zoom_preloader {
            background-image: url({{ STATIC_URL }}tsj_gemstone/plugins/smoothZoom/preloader.gif);
        }
        .smooth_zoom_icons {
            background-image: url({{ STATIC_URL }}tsj_gemstone/plugins/smoothZoom/icons.png);
        }
    </style>
{% endblock css %}

{% block js %}{{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}tsj_gemstone/plugins/smoothZoom/jquery.smoothZoom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}tsj_jewelrybox/js/ajaxsubmit.js"></script>
    <script>
        $( document ).ready(function() {
            // Inquiry
            $('.section-info-questions').jewelrybox_inquiry();
            // Certificate
            $('.cert-image').smoothZoom({
                responsive: true,
            });
        });
    </script>
{% endblock js %}

{% block bodyclass %}{{ block.super }} gemstone-detail{% endblock %}

{% block title %}{{ diamond.carat_weight }} Carat, {{ diamond.cut }} Shaped Diamond{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <a class="btn btn-primary" href="#" onclick="history.back(-1); return false;"><i class="fa fa-backward"></i> Back to Search</a>
        </li>
    </ul>
{% endblock breadcrumb %}

{% block content %}
    <div class="wrapper">
        <div class="section-sidebar">
            <div class="gemstone-images">
                <img src="{{ STATIC_URL }}tsj_gemstone/images/{{ diamond.cut|lower }}.png">
            </div>
            <div class="section-info section-info-questions">
                <h3>Have Questions?</h3>
                {% with inquiry_form as form %}
                    {% include "tsj_jewelrybox/ajax/inquire_form.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="section-content">
            <div class="wrapper">
                <div class="group-wrapper">
                    <div class="group">
                        <h3>The 4 C's</h3>
                        <table>
                            <tr>
                                <th>Color:</th>
                                <td>{% firstof diamond.color diamond.fancy_color %}</td>
                            </tr>
                            <tr>
                                <th>Clarity:</th>
                                <td>{{ diamond.clarity }}</td>
                            </tr>
                            <tr>
                                <th>Cut</th>
                                <td>{{ diamond.cut_grade }}</td>
                            </tr>
                            <tr>
                                <th>Carat Weight:</th>
                                <td>{{ diamond.carat_weight }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="group">
                        <h3>Details</h3>
                        <table>
                        {% if show_prices == 'anon' or show_prices == 'auth' and user.is_authenticated %}
                            <tr>
                                <th>Price:</th>
                                <td>${{ diamond.price|floatformat:"0"|intcomma }}</td>
                            </tr>
                        {% endif %}
                            <tr class="stock-number">
                                <th>Stock #:</th>
                                <td>{{ diamond.stock_number }}</td>
                            </tr>
                        {% if diamond.manmade %}
                            <tr>
                                <td colspan="2">This is a lab-grown diamond</td>
                            </tr>
                        {% endif %}
                        </table>
                    </div>
                </div>
                <div class="group-wrapper">
                    <div class="group">
                        <h3>Measurements</h3>
                        <table>
                            {% if diamond.depth_percent %}
                                <tr>
                                    <th>Depth %:</th>
                                    <td>{{ diamond.depth_percent }}</td>
                                </tr>
                            {% endif %}
                            {% if diamond.table_percent %}
                                <tr>
                                    <th>Table %:</th>
                                    <td>{{ diamond.table_percent }}</td>
                                </tr>
                            {% endif %}
                            {% if diamond.girdle %}
                                <tr>
                                    <th>Girdle:</th>
                                    <td>{{ diamond.girdle }}</td>
                                </tr>
                            {% endif %}
                            {% if diamond.cutlet %}
                                <tr>
                                    <th>Culet:</th>
                                    <td>{{ diamond.culet }}</td>
                                </tr>
                            {% endif %}
                            {% if diamond.polish %}
                                <tr>
                                    <th>Polish:</th>
                                    <td>{{ diamond.polish }}</td>
                                </tr>
                            {% endif %}
                            {% if diamond.symmetry %}
                                <tr>
                                    <th>Symmetry:</th>
                                    <td>{{ diamond.symmetry }}</td>
                                </tr>
                            {% endif %}
                            {% if diamond.fluorescence %}
                                <tr>
                                    <th>Fluorescence:</th>
                                    <td>{{ diamond.fluorescence }}</td>
                                </tr>
                            {% endif %}
                            {% if diamond.fluorescence_color %}
                                <tr>
                                    <th>Fluorescence Color:</th>
                                    <td>{{ diamond.fluorescence_color }}</td>
                                </tr>
                            {% endif %}
                            {% if diamond.length %}
                                <tr>
                                    <th>Length:</th>
                                    <td>{{ diamond.length }}</td>
                                </tr>
                            {% endif %}
                            {% if diamond.width %}
                                <tr>
                                    <th>Width:</th>
                                    <td>{{ diamond.width }}</td>
                                </tr>
                            {% endif %}
                            {% if diamond.depth %}
                                <tr>
                                    <th>Depth:</th>
                                    <td>{{ diamond.depth }}</td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
            {% if diamond.get_cert_image_type == 'image' %}
                <div class="actions-wrapper">
                    {% page gemstone-print diamond.pk as gemstone_print_url %}{% if gemstone_print_url %}
                    <a class="btn btn-default" href="{{ gemstone_print_url }}" target="_blank"><i class="fa fa-print"></i> Print Certificate</a>
                    {% endif %}
                </div>
                <div class="cert-wrapper">
                    <h3><i class="fa fa-certificate"></i> {{ diamond.certifier }} Certificate: {{ diamond.cert_num }}</h3>
                    <img class="cert-image" src="{{ diamond.cert_image }}">
                </div>
            {% elif diamond.get_cert_image_type == 'other' %}
                <div class="actions-wrapper">
                    <a class="btn btn-default" href="{{ diamond.cert_image }}" target="_blank">View Certificate</a>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}

